h1 {
  text-align: center;
  color: red;
}

h4 {
  color: red;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  font-family: Arial, Helvetica, sans-serif;